.container {
    position: relative;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  
  .page-header {
    margin-top: 0;
    h1 {
      font-weight: bold;
      color: red;
    }
  
    h3 {
      font-weight: bold;
      color: red;
    }
  }
  
  .circular-button {
    width: 60px; /* Ancho del botón circular */
    height: 60px; /* Altura del botón circular */
    border-radius: 50%; /* Hace que el botón sea circular */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Tamaño del ícono */
    background-color: white; /* Color de fondo blanco */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra ligera */
    margin: 0 auto; /* Centra el botón horizontalmente */
    border: none; /* Elimina el borde del botón */
    cursor: pointer; /* Cambia el cursor al pasar el ratón por encima */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transición suave */
  }
  
  .circular-button:hover {
    background-color: #f0f0f0; /* Cambia el color de fondo al pasar el ratón por encima */
  }
  
  
  /* Estilos específicos para dispositivos móviles */
  @media (max-width: 768px) {
    .container {
      padding: 1rem; /* Espacio alrededor de los elementos en dispositivos móviles */
    }
  }
  
  .image-container {
    background-image: url('https://i.pinimg.com/750x/34/30/f0/3430f09d54154dae08871818dce4abb1.jpg');
    background-size: cover;
    background-position: center;
    flex-grow: 1; /* Expande la imagen para llenar el espacio restante */
  }
  }