<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{shared/layout}">
<head th:replace="~{shared/layout :: head}">
</head>
<body>
    <nav th:replace="~{shared/layout :: navbar}">
    </nav>
    <div class="container">
        <br>
        <br>
        <br>
        <div class="d-flex text-center">
            <div class="col">
                <img width="100px"  class="img-fluid" src="img/logo.png">
            </div>
        </div>
        <br>
        <div class="d-flex text-center">
            <div class="col">
                <h2 style="font-family: Poly;">Iniciar Sesion</h2>
            </div>
        </div>
        <br>
        <form th:object="${login}" th:action="@{/acceder}" method="post">
        <div class="d-flex">
            <div class="col-3"></div>
            <div class="col">
                <label class="form-label" for="email" style="font-size: large;color: black;">Correo electrónico</label>
            </div>
        </div>
        <div class="d-flex">
            <div class="col-3"></div>
            <div class="col-6">
                <input type="text" th:field="*{email}" id="email"  class="form-control" th:errorclass="is-invalid">
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback"></div>
            </div>
        </div>
        <br>
        <div class="d-flex">
            <div class="col-3"></div>
            <div class="col">
                <label class="form-label" for="password" style="font-size: large;color: black;">Contraseña</label>
            </div>
        </div>
        <div class="d-flex">
            <div class="col-3"></div>
            <div class="col-6">
                <input type="password" th:field="*{password}"  id="password" class="form-control" th:errorclass="is-invalid">
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback"></div>
            </div>
        </div>
        <br>
        <div class="d-flex text-center">
            <div class="col">
                <div th:if="${error}" th:text="${error}" class="text-danger"></div>
            </div>
        </div>
        <br>
        <div class="d-flex text-center">
            <div class="col d-grid gap-2 col-3 mx-auto">
                <button class="btn btn-rounded" style="background-color: #D9D9D9;">Ingresar</button>
            </div>
        </div>
        </form>
    </div>
</body>
</html>