ion-header{
  width: 100%;
  height: 50px;
  border: none;
  border-color: transparent;
  --box-shadow: none;
}
ion-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}
ion-button{
  margin-top: 5%;
  background-color: none;
  color: red;
  font-size: medium;
  align-items: center;
  justify-content: center;

}
ion-icon{
  margin-top: 5%;
  color: red;
}
